@import 'reset';

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  background-color: #000;
}

ul {
  word-wrap: break-word;
}

@import './base/modal';
@import './base/button';
@import './base/page';
@import './base/symbols';
@import './base/loader';
@import './base/input-field';

.mainWrapper {
  min-width: 200px;
  height: 100%;
  margin: 0 auto;

  @import './project/login';
  @import './project/waiting';
  @import './project/main';
}
