<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Tic Tac Toe</title>
</head>
<body>
  <div id="app" style="height:100%"></div>
  <script src="<%- address %>socket.io/socket.io.js"></script>
  <script src="<%- address %>js/index.js"></script>
</body>
</html>
