.btn {
  padding: 15px 25px;
  background-color: #fff;
  border: 3px solid #808080;
  border-radius: 5px;
  font-size: 70%;
}

.inverted-btn {
  padding: 15px 25px;
  background-color: #000;
  color: #fff;
  border-color: #000;
  border-radius: 5px;
  font-size: 70%;
}