.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  will-change: opacity;
  transition: opacity 200ms ease-in;
  opacity: 1;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    text-align: center;
    position: relative;
    max-width: 30%;
    color: #000;
    padding: 60px 45px;
    background-color: #fff;
  }

  .message-content {
    font-size: 110%;
  }

  .message-buttons {
    margin-top: 25px;
    font-size: 140%;
  }
}