@import '../../styles/globals/button';

.end-of-game {
  @extend .btn;
  padding: 10px;
  text-align: center;

  .end-of-game-buttons {
    margin-top: 20px;
  }

  .game-button {
    background-color: #fff;
    border: 3px solid #808080;

    &:first-child {
      margin-right: 30px;
    }
  }
}