@import '../base/switcher';

.controls {
  display: flex;
  justify-content: space-between;
  height: 47px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;

  .theme,
  .mute {
    width: 32px;
    height: 32px;
  }


  .theme-switcher {
    @extend .switcher;

    .theme-switcher-icon {
      opacity: 0.5;
    }

    &:hover .theme-switcher-icon {
      opacity: 1;
    }
  }

  .mute-switcher {
    @extend .switcher;

    &:hover g {
      fill: #fff;
    }
  }
}
