@import '../base/switcher';

.controls {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  height: 52px;
  padding: 10px 20px;

  .theme,
  .mute {
    width: 32px;
    height: 32px;
  }


  .theme-switcher {
    @extend .switcher;

    .theme-switcher-icon {
      opacity: 0.5;
    }

    &:hover .theme-switcher-icon {
      opacity: 1;
    }
  }

  .mute-switcher {
    @extend .switcher;

    &:hover g {
      fill: #fff;
    }
  }
}
