.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .messages {
    color: #fff;
    font-size: 150%;
  }

  .end-of-game {
    padding: 10px;
    text-align: center;

    .end-of-game-buttons {
      margin-top: 30px;
    }

    .game-button {
      background-color: #fff;
      border: 3px solid #808080;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}
