@import '../../styles/globals/page';
@import '../../styles/globals/players';
@import '../../containers/Chat/Chat';


.main {
  @extend .page;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .chat {
    @extend .chat;
  }

  @media screen and (max-width: 755px) {
    height: auto;

    .chat {
      width: 100%;
      height: 400px;
      margin-top: 25px;
      flex-grow: 1;
    }
  }
}
